<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>queryStudent</servlet-name>
        <servlet-class>servlet.QueryStudentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>queryStudent</servlet-name>
        <url-pattern>/queryStudent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>studentManagement</servlet-name>
        <servlet-class>servlet.StudentManagementServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>studentManagement</servlet-name>
        <url-pattern>/studentManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>courseManagement</servlet-name>
        <servlet-class>servlet.CourseManagementServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>courseManagement</servlet-name>
        <url-pattern>/courseManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>instituteManagement</servlet-name>
        <servlet-class>servlet.InstituteManagementServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>instituteManagement</servlet-name>
        <url-pattern>/instituteManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>majorManagement</servlet-name>
        <servlet-class>servlet.MajorManagementServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>majorManagement</servlet-name>
        <url-pattern>/majorManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>classManagement</servlet-name>
        <servlet-class>servlet.ClassManagementServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>classManagement</servlet-name>
        <url-pattern>/classManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>queryTeacher</servlet-name>
        <servlet-class>servlet.QueryTeacherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>queryTeacher</servlet-name>
        <url-pattern>/queryTeacher</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>courseSelection</servlet-name>
        <servlet-class>servlet.CourseSelectionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>courseSelection</servlet-name>
        <url-pattern>/courseSelection</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>scoreManagement</servlet-name>
        <servlet-class>servlet.ScoreManagementServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>scoreManagement</servlet-name>
        <url-pattern>/scoreManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>gpaAnalysis</servlet-name>
        <servlet-class>servlet.AnalysisServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>gpaAnalysis</servlet-name>
        <url-pattern>/gpaAnalysis</url-pattern>
    </servlet-mapping>

</web-app>